<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yalin.keepalive.appwrapper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/keep_alive_ic_launcher"
        android:label="@string/keep_alive_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jinyalin.keepalive.keepalivedemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
